* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(32, 112, 204);
  padding: 7px;
}

h1 {
  text-align: center;
}

#div-class {
  width: 150px;
  height: 150px;
  background: rgba(197, 81, 212, 0.808);
  margin: 0 auto;
  border-radius: 100px;
  border: 5px solid rgb(252, 251, 251);
  cursor: pointer;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 7px auto;
  font-weight: bolder;
}